.listGroup {
    list-style: none;
    background-color: lightblue;
}

.highlight {
    border: 2px solid red;
    padding: 10px;
}

/* .list-group-item {
    color: blue;
    margin-bottom: 10px
} */